.FormContainer{
    max-width: 400px;
  
    margin: 0 auto;
    margin-top: 150px;
    
    text-align: center;
    form{
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
  
      input{
          padding: 8px;
      }

      button{
          width: 100px;
          background-color: rgb(82, 80, 80);
          color: white;
          border: 0;
          border-radius: 16px;
          padding: 10px;
          cursor: pointer;
          transition: filter 0.2s;
          &:hover{
              filter: brightness(0.8);
          }
      }
    }
}